### Importando bibliotecas a serem utilizadas inicialmente:

In [165]:
import pandas as pd
import pickle

### Carregando dados:

In [166]:
# Dados de teste:

test_df = pd.read_csv("../data/test_binary_small.csv")
test_df.head()

,id,comment_text,Toxic
0,00091c35fa9d0465,"== Arabs are committing genocide in Iraq, but ...",Toxic
1,0013a435effa29bd,"I'd never think I'd need to say it, but Wikipe...",Non-Toxic
2,001eff4007dbb65b,"::No, he is an arrogant, self serving, immatur...",Toxic
3,008eb47c4684d190,""" \n\n So, on the tenth anniversary of 9/11, ""...",Toxic
4,00991697be5ed76a,Simple: You are stupid!,Toxic

In [167]:
# Dados de treino:

train_df = pd.read_csv("../data/train_binary_small.csv")
train_df.head()

                 id                                       comment_text  Toxic
0  0028d62e8a5629aa  All of my edits are good.  Cunts like you who ...  Toxic
1  006e87872c8b370c  you are a stupid fuck \n\nand your mother's cu...  Toxic
2  00b77cb600c897b4  "\n\nAnd you are? Let me know when you've craw...  Toxic
3  00c0b8ed05ed7833  Fuck off\n\nYou are NOT an administrator. You ...  Toxic
4  00d7a73eb033ee5e  Have you seen the reference to their claim, yo...  Toxic

### Verificando dados:

In [168]:
# Verificando dados de treino:

train_df['Toxic'].value_counts()

Toxic        1500
Non-Toxic     500
Name: Toxic, dtype: int64

In [169]:
# Verificando dados de teste:

test_df['Toxic'].value_counts()

Toxic        1000
Non-Toxic     500
Name: Toxic, dtype: int64

Após essas verificações, concluímos que temos um dados desbalanceados.

In [170]:
# Observando a quantidade de dados faltantes no dataset de treino:

train_df.isna().sum()

id              0
comment_text    0
Toxic           0
dtype: int64

In [171]:
# Observando a quantidade de dados faltantes no dataset de teste:

test_df.isna().sum()

id              0
comment_text    0
Toxic           0
dtype: int64

Não há dados faltantes.

### Realizando a remoção da coluna 'id':

In [172]:
# Fazendo a remoção da coluna "id"no conjunto de treino, pois não irá acrescentar sentido na análise de dados:

train_df = train_df.drop(columns=['id'])
train_df.head()

                                        comment_text  Toxic
0  All of my edits are good.  Cunts like you who ...  Toxic
1  you are a stupid fuck \n\nand your mother's cu...  Toxic
2  "\n\nAnd you are? Let me know when you've craw...  Toxic
3  Fuck off\n\nYou are NOT an administrator. You ...  Toxic
4  Have you seen the reference to their claim, yo...  Toxic

In [173]:
# Fazendo a remoção da coluna "id" no conjunto de teste, pois não irá acrescentar sentido na análise de dados:

test_df = test_df.drop(columns=['id'])
test_df.head()

                                        comment_text      Toxic
0  == Arabs are committing genocide in Iraq, but ...      Toxic
1  I'd never think I'd need to say it, but Wikipe...  Non-Toxic
2  ::No, he is an arrogant, self serving, immatur...      Toxic
3  " \n\n So, on the tenth anniversary of 9/11, "...      Toxic
4                            Simple: You are stupid!      Toxic

Essa coluna não irá acrescentar informação e nem sentindo na analise dos dados.

### Aplicando Pré-processamentos iniciais:

In [174]:
# Importando arquivo limpando dados:

from configs.limpando_dados import Limpeza

In [175]:
# Aplicando pré-processamentos por meio de funções e criando uma nova coluna no dataset de treino:

train_df['pre-processado'] = train_df['comment_text'].apply(
    lambda x: Limpeza.minusculo(x))

train_df['pre-processado'] = train_df['pre-processado'].apply(
    lambda x: Limpeza.substituindo(x))

train_df['pre-processado'] = train_df['pre-processado'].apply(
    lambda x: Limpeza.retirando_caracteres_especiais(x))

train_df['pre-processado'] = train_df['pre-processado'].apply(
    lambda x: Limpeza.retirando_numeros(x))

In [176]:
# Aplicando pré-processamentos por meio de funções e criando uma nova coluna no dataset de teste:

test_df['pre-processado'] = test_df['comment_text'].apply(
    lambda x: Limpeza.minusculo(x))

test_df['pre-processado'] = test_df['pre-processado'].apply(
    lambda x: Limpeza.substituindo(x))

test_df['pre-processado'] = test_df['pre-processado'].apply(
    lambda x: Limpeza.retirando_caracteres_especiais(x))

test_df['pre-processado'] = test_df['pre-processado'].apply(
    lambda x: Limpeza.retirando_numeros(x))

### Salvando dados:

In [177]:
# Salvando o dataframe modificado de treino:

with open('train_df.pkl', 'wb') as files:
    pickle.dump(train_df, files)

In [178]:
# Salvando dataframe modificado de teste:

with open('test_df.pkl', 'wb') as files:
    pickle.dump(test_df, files)